body {
  background-color: #E0F2F1;
}

header {
  align-items: center;
  background-image:
    linear-gradient(-45deg, rgba(0, 0, 0, 0) 90%, rgba(255, 255, 255, 0.23) 20%),
    linear-gradient(-45deg, rgba(0, 0, 0, 0) 84%, rgba(255, 255, 255, 0.18) 20%),
    linear-gradient(-45deg, rgba(0, 0, 0, 0) 78%, rgba(255, 255, 255, 0.1) 20%),
    linear-gradient(to top, #00695C, #00897B);
  color: white;
  display: flex;
  height: 200px;
  justify-content: center;
  text-align: center;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
}

input[type="email"], input[type="text"], textarea {
  background-color: #E0F2F1;
  border-color: #bbd6d5;
  color: black;
}

input[type="submit"] {
  background-color: #26A69A;
  border-color: #38b9ad;
  color: #fff;
}

#svg-container {
  background-image: linear-gradient(to top, #26A69A, #00897B);
  color: white;
  margin-bottom: 60px;
  padding: 40px 0 36px 0;
}

.keyboard-svg {
  opacity: 0;
  width: 30%;
}

/* SVG stroke */
.st0 {
  fill: none;
  stroke:#FFF;
  stroke-miterlimit: 10;
  stroke-width: 3;
}

.logo {
  fill:none;
  stroke:#FFF;
  stroke-width:2;
  stroke-miterlimit:10;
}

.logo-outline {
  fill:none;
  stroke:#FFF;
  stroke-miterlimit:10;
}

.media-links {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.media-links a {
  margin: 0 3px;
}

section, section.container {
  padding-top: 20px;
  margin-bottom: 60px;
}

#game-section {
  background-image: linear-gradient(to top, #26A69A, #00897B);
  color: white;
}

.contact-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto;
}

footer {
  margin-top: 50px;
}

.footer-links {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  .contact-card {
    max-width: 100%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .contact-card {
    max-width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .contact-card {
    max-width: 70%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .contact-card {
    max-width: 70%;
  }
}

/* Extra large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
  .contact-card {
    max-width: 60%;
  }
}

/*--------------------
Games thubnails
--------------------*/

.games-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 40px;
  width: 100%;
}

.games-container figure {
  margin: 10px;
  position: relative;
  width: 300px;
}

.games-container a {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  opacity: 0;
  transition: opacity .8s ease-in-out 1s;
  height: 120px;
  width: 100%;
}

.games-container a span {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  opacity: .3;
  font-weight: bold;
  font-size: 0px;
  text-align: center;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  width: 100%;
}

.games-container a span:hover {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3 ease-in-out;
  -ms-transition: all .3 ease-in-out;
  opacity: .8;
  font-size: 30px;
  animation: show-overlay .3s ease-in-out forwards;
}

.game-svg {
  opacity: 0;
  position: absolute;
  top: -2px;
  left: -7px;
  height: 125px;
  width: 315px;
}

@keyframes show-overlay {
  0% { font-size: 30px; }
}

.games-container .ssbm {
  background-image: url("../img/ssbm.jpg");
}

.games-container .overwatch {
  background-image: url("../img/overwatch.jpg");
  background-position: 50% 39%;
}

.games-container .darksouls {
  background-image: url("../img/darksouls.jpg");
  background-position: center top;
}

.games-container .wow {
  background-image: url("../img/wow.jpg");
  background-position: 50% 28%;
}

.games-container .dota {
  background-image: url("../img/dota.jpg");
}

.games-container .hyperlightdrifter {
  background-image: url("../img/hyperlightdrifter.jpg");
  background-position: top right;
}

/*--------------------
Helper Classes
--------------------*/

.bottom-50 {
  margin-bottom: 50px;
}

.text-center {
  text-align: center;
}

.text-dim {
  color: #575c63;
}
