body {
  background-color: #E0F2F1;
}

header {
  align-items: center;
  /*background-image: url("../img/header.png");*/
  background-color: #009688;
  background-size: cover;
  background-position: bottom;
  color: white;
  display: flex;
  height: 200px;
  justify-content: center;
  text-align: center;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
}

input[type="email"], input[type="text"], textarea {
  background-color: #E0F2F1;
  border-color: black;
  color: black;
}

input[type="submit"] {
  background-color: #64FFDA;
  border-color: black;
  color: black;
}

#svgContainer {
  background-color: #009688;
  color: white;
  padding: 10px 0 4px 0;
}

.st0 {
  fill: none;
  stroke:#FFFFFF;
  stroke-miterlimit: 10;
  stroke-width: 3;
}

/*@keyframes draw {
  0% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}*/

.media-links {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.media-links a {
  margin: 0 3px;
}

section, section.container {
  margin-bottom: 150px;
}

#game-section {
  background-color: #009688;
}

.contact-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto;
}

footer {
  margin-top: 50px;
}

.footer-links {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

/*--------------------
Games thubnails
--------------------*/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  /*.games-container a {
      max-width: 100%;
  }*/

  .contact-card {
    max-width: 100%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /*.games-container a {
      max-width: 100%;
  }*/

  .contact-card {
    max-width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /*.games-container a {
      max-width: 100%;
  }*/

  .contact-card {
    max-width: 70%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /*.games-container a {
      max-width: 50%;
  }*/

  .contact-card {
    max-width: 70%;
  }
}

/* Extra large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
  /*.games-container a {
    max-width: 33.33%;
    max-width: calc(100%/3);
  }*/

  .contact-card {
    max-width: 60%;
  }
}

.games-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.game {
  position: absolute;
  top: -2px;
  left: -7px;
  height: 125px;
  width: 315px;
}

.games-container figure {
  margin: 10px;
  position: relative;
  width: 300px;
}

.games-container a {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  opacity: 0;
  transition: opacity 1s ease-in-out 1s;
  height: 120px;
  width: 100%;
}

.games-container a span {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  opacity: .3;
  font-weight: bold;
  font-size: 0px;
  text-align: center;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  width: 100%;
}

.games-container a span:hover {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3 ease-in-out;
  opacity: .8;
  font-size: 30px;
  animation: show-overlay .3s ease-in-out forwards;
}

@keyframes show-overlay {
  0% { font-size: 30px; }
}

.games-container .ssbm {
  background-image: url("../img/ssbm.jpg");
}

.games-container .overwatch {
  background-image: url("../img/overwatch.jpg");
  background-position: 50% 39%;
}

.games-container .darksouls {
  background-image: url("../img/darksouls.jpg");
  background-position: center top;
}

.games-container .wow {
  background-image: url("../img/wow.jpg");
  background-position: 50% 28%;
}

.games-container .dota {
  background-image: url("../img/dota.jpg");
}

.games-container .hyperlightdrifter {
  background-image: url("../img/hyperlightdrifter.jpg");
  background-position: top right;
}

/*--------------------
Loading Animation
--------------------*/

.animationContainer {
  display: flex;
  flex-direction: row;
}

.dot {
  background: #5e5959;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-flex;
  height: 10px;
  margin: 0 3px;
  width: 10px;
}

.dot1 {
  animation: bounce 1.5s ease-in-out infinite;
}

.dot2 {
  animation: bounce 1.5s ease-in-out 0.2s infinite;
}

.dot3 {
  animation: bounce 1.5s ease-in-out 0.4s infinite;
}

.dot4 {
  animation: bounce 1.5s ease-in-out 0.6s infinite;
}

.dot5 {
  animation: bounce 1.5s ease-in-out 0.8s infinite;
}

.dot6 {
  animation: bounce 1.5s ease-in-out 1s infinite;
}

@keyframes bounce {
  0%, 50% { transform: translateY(0px); }
  25% { transform: translateY(-25px); }
}

/*--------------------
Helper Classes
--------------------*/

.bottom-50 {
  margin-bottom: 50px;
}

.text-center {
  text-align: center;
}

.text-dim {
  color: #e4e4e4;
}
